.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;

	&.nowrap {
		flex-wrap: nowrap;
	}

	&.flexEnd {
		justify-content: flex-end;
	}
}
